@import 'styles/colors';

.TablePagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.TablePaginationPageSize,
.TablePaginationPageButtons {
  display: flex;
  align-items: center;
}

.TablePaginationPageDetails {
  margin: 0 10px;
  font-size: 14px;
  color: $icon;
}

.TablePaginationSelect {
  margin-right: 10px;
}
