$field-border: #888;
$field-border--hovered: #333;
$field-border--focused: #3486eb;
$icon: rgba(0, 0, 0, 0.54);
$icon--disabled: rgba(0, 0, 0, 0.26);
$icon-background--hovered: #f2f2f2;
$table-border: #ccc;
$table-background: #fff;
