.CompaniesScreen {
  display: flex;
  flex-direction: column;
  padding: 40px 80px;
}

.CompaniesScreenSearch {
  align-self: flex-end;
  margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  .CompaniesScreen {
    padding: 20px 40px;
  }
}

@media only screen and (max-width: 520px) {
  .CompaniesScreen {
    padding: 0;
  }

  .CompaniesScreenSearch {
    width: 100%;
  }
}
